extends ./layout/index
block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" alt="Imagen de nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam imperdiet neque vitae placerat. Ut elementum vitae libero a blandit. Aliquam convallis commodo leo, ac egestas enim luctus a. Quisque nibh nibh, vestibulum vel arcu id, consectetur sodales turpis. Maecenas magna felis, cursusvitae laoreet et, aliquet eu mi. Sed imperdiet iaculis consequat. Duis fermentum posuere lectus. Integer tempor sodales velit, ut ultrices velit tincidunt vitae.

                p Aliquam porta ipsum vel sapien aliquam luctus. Integer eu fermentum velit. Etiam eu nisl lectus. Cras fermentum mattis purus, et accumsan enim varius id. Nulla leo elit, tempus at ligula at, euismod congue nisl.

                p Etiam laoreet leo non sem convallis, ut volutpat lacus mollis. Proin euismod viverra scelerisque. Sed varius metus quis lorem pharetra facilisis. Sed maximus vestibulum lorem, non fringilla eros egestas vitae. Praesent non purus porttitor, malesuada ex eu, auctor metus. Nulla id pellenesque velit. 
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Etiam laoreet leo non sem convallis, ut volutpat lacus mollis. Proin euismod viverra scelerisque.

                    .col-md-4
                        img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Etiam laoreet leo non sem convallis, ut volutpat lacus mollis. Proin euismod viverra scelerisque.

                    .col-md-4
                        img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                        p Etiam laoreet leo non sem convallis, ut volutpat lacus mollis. Proin euismod viverra scelerisque.
